# Dependencies
/node_modules
/src/genius-parser/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist

# Environment variables
.env

# VSCode
.vscode/
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# Misc
.DS_Store
